@{
    
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>
        @ViewBag.Greeting World(from the viwe)

    </h1>
    <p>
        Were going to have an exciting party <br/>
        (To do : sell it better. Add pictures or something.)
    </p>
    <a asp-action="RsvpForm">Go to response</a>
</div>