@model GuestResponse

@{
    ViewData["Title"] = "Response";
}

<div>
    <p>
        <h1>
            Thanks you, @Model.Name!
        </h1>
        @if (Model.WillAttend)
        {
            @:It's great that you're coming. The drinks are already in the fridge!
        }
        else
        {
            @:Sorry to hear that you can't make it, but thanks for letting us know.
        }
    </p>
    <p>
        Click <a asp-action="ListResponses">here</a> to see who is coming.
    </p>
</div>
